/*全局样式，清除p标签默认样式*/
p {
    padding: 0;
    margin: 0;
}

.iconfont {
    font-size: 20px;
}

html, body {
    margin: 0;
    padding: 0;
    color: #36485C;
    background-color: #F3F3F3;
    font-size: 14px;
    font-family: "cruise", "Avenir", "Helvetica", Arial, sans-serif;
}

/*header样式*/
header {
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

header .container {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .container .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
}

header .container .avatar {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/*主体样式*/
.wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px - 30px);
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 60px;
}

/*左侧样式*/
.left-side {
    background-color: #2D4054;
    flex: 0 1 250px;
    padding-top: 5px;
    position: relative;
}

/*左侧menu样式*/
.left-side .menu {
    list-style: none;
    padding-left: 0;
}

.left-side .menu .iconfont {
    margin-right: 15px;
}

.left-side .menu a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 12px 20px 12px;
    display: flex;
    align-items: center;
}

.left-side .menu li:hover a,
.left-side .menu li .active
 {
    color: #00B4CF;
    background-color: #435466;
}

/*左侧history样式*/
.left-side .history {
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.left-side .history p {
    font-size: 24px;
    color: #ccc;
    margin: 0;
}

.left-side .history .list {
    font-size: 12px;
    color: #999;
    list-style: inside;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    max-height: 200px;
}

/*::-webkit-scrollbar{*/
/*    width: 10px !important;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    border-radius: 0;*/
/*    border-style: dashed;*/
/*    background-color: rgba(12, 80, 235, 0.4);*/
/*    border-color: #e2242400;*/
/*    border-width: 1.5px;*/
/*    background-clip: padding-box;*/
/*}*/

/*::-webkit-scrollbar-track {!*滚动条里面轨道*!*/
/*    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
/*    border-radius: 10px;*/
/*    background: #EDEDED;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    background: rgba(157, 165, 183, 0.7)*/
/*}*/

.left-side .history .list li {
    margin-bottom: 10px;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-side .history .list li:hover {
    color: #00B4CF;
}

/*右侧样式*/
.right-side {
    flex: auto;
    padding: 15px 10px 10px 20px;
    overflow-y: auto;
}

/*右侧head样式*/
.right-side .head-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.right-side .head-container > div{
    width: 280px;
    height: 120px;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.right-side .head-container .building {
    background-color: #FF9A2A;
    position: relative;
    font-size: 18px;
    font-weight: bold;
}

/*右侧head图案动画样式*/
.right-side .head-container .building .icon-cog {
    animation: spinning 2s infinite linear;
}

@keyframes spinning {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.right-side .head-container .idle {
    background-color: #7FBC39;
    position: relative;
    font-size: 18px;
    font-weight: bold;
}

.right-side .head-container .building .icon-cog,
.right-side .head-container .idle .icon-coffee {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 144px;
    color: rgba(255, 255, 255, 0.2);
}

.right-side .head-container .building .content,
.right-side .head-container .idle .content {
    margin-left: 10px;
    margin-top: 10px;
}

.right-side .head-container .building p:last-child,
.right-side .head-container .idle p:last-child {
    font-size: 48px;
    line-height: 1;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 20px;
    right: 20px;
}

.right-side .head-container .overview {
    color: black;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px;
    text-align: center;
    align-items: center;
}

.right-side .head-container .overview .category {
    font-size: 12px;
}

.right-side .head-container .overview .number {
    font-size: 20px;
}

/*右侧nav样式*/
.right-side .nav {
    display: flex;
    margin-top: 15px;
    background-color: white;
    padding-right: 10px;
    height: 50px;
    align-items: center;
}

.right-side .nav .tab {
    display: flex;
}

.right-side .nav .tab .item {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    border-right: 1px solid #F3F3F3;
    box-sizing: border-box;
}

.right-side .nav .tab .item .active {
    color: #00B4CF;
    border-bottom: 3px solid #00B4CF;
}

.right-side .nav .search {
    margin-left: 15px;
    position: relative;
    height: 100%;
    padding: 10px 80px 10px 10px;
    flex: auto;
    box-sizing: border-box;
}

.right-side .nav .search .iconfont {
    position: absolute;
    color: gray;
    left: 15px;
    top: 13px;
}

.right-side .nav .search input {
    min-width: 200px;
    height: 28px;
    border: none;
    background-color: #F3F3F3;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
    padding-left: 35px;
}
.right-side .nav .icon-th-card {
    margin-right: 20px;
}

.right-side .nav .icon-th-list {
    margin-right: 20px;
}

.right-side .nav .iconfont.active {
    color: #00B4CF;
}

/*右侧主体item样式*/
.right-content {
    margin-top: 15px;
}

.right-content .item {
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    align-items: center;
}

.right-content .item .detail {
    margin-left: 25px;
    flex: auto;
}

.right-content .item .detail .info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.right-content .item .detail .info .info-icon {
    flex: 1;
    justify-content: flex-end;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.right-content .item .detail .info .info-icon .iconfont {
    font-size: 16px;
    color: gray;
    margin-right: 10px;
}

.right-content .item .detail .info .info-icon .blue-content {
    color: #00B4CF;
    font-weight: bold;
}

.right-content .item .detail .info .info-icon .icon-content {
    line-height: normal;
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.right-content .item .detail .info .info-label {
    font-size: 14px;
    color: white;
    padding: 2px 10px;
}

.right-content .item .detail .info .info-label.green {
    background-color: #7FBC39;
}

.right-content .item .detail .info .info-label.orange {
    background-color: #FF9A2A;
}

.right-content .item .detail .operations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -10px;
}

.right-content .item .detail .operations .button-plus {
    background-color: #00B4CF;
    color: white;
    font-size: 18px;
    padding: 3px 4px;
}

.right-content .item .detail .operations .buttons {
    display: flex;
    flex-wrap: wrap;
}

.right-content .item .detail .operations button {
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 10px;
    height: 24px;
    background-color: #EFEFEF;
    border: none;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #36485C;
}

.right-content .item .detail .operations button .iconfont {
    font-size: 18px;
    margin-left: 5px;
}

.right-content .item .detail .operations .button-deny {
    background-color: #00B4CF;
    color: white;
    height: 30px;
}

.right-content .item .detail .operations .button-deny .iconfont {
    font-size: 14px;
    margin-right: 5px;
    margin-left: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
}

